.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.link {
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 4px;
}

.link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}

.linkContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}